/*h1{
    background: darkblue;
    color: lightgreen;
}

div{
    background: lightblue;
    color: darkblue;
}

li {
    background: lightgreen;
}

#text-boasVindas{
    background: red;
    color: white;
}

.seletor-comum {
    background: pink;
    color: darkblue;
}

.texto-maiusculo{
    text-transform: uppercase;
}

*{
    font-weight: bold;
}*/

/*atributos especificos
[title="Netflix"]{
    color: red;
}
[title="Spotify"]{
    color: lightgreen;
}
[title="Prime"]{
    color: lightblue;
}
[title="Disney"]{
    color: darkblue;
}
[title|="Streaming"]{
    background: lightgray;
}*/
[href^="http://"]{
    background: lightgreen;
}
[href*="login"]{
    background: pink;
}